<title>Entre em Contato</title>
<!-- Meta Description -->
<meta name="description" content="Entre em contato com a Horizon Data Labs para saber como podemos ajudar sua empresa a crescer com dados.">
<!-- Meta Keywords -->
<meta name="keywords" content="contato, Horizon Data Labs, consultoria de dados, suporte">
<!-- Meta Charset -->
<meta charset="UTF-8">
<!-- Meta Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Meta Robots -->
<meta name="robots" content="index, follow">
<!-- Meta Autor -->
<meta name="author" content="Horizon Data Labs">

<div class="contacts-content-container">
    <p>
        <span class="bold">Contato: </span>
        <span class="italic">Ivan Lopes Alonso</span>
    </p>

    <div class="email">
        <img src="assets/email.png" alt="E-Mail" width="auto" height="auto">
        <span class="italic">{{email}}</span>
    </div>

    <div class="whatsapp">
        <img src="assets/whatsapp.png" alt="Whatsapp" width="auto" height="auto">
        <span class="italic">(19) 9 9191-8921</span>
    </div>
</div>
