<title>Sobre a Horizon Data Labs</title>
<!-- Meta Description -->
<meta name="description" content="Conheça a Horizon Data Labs, uma consultoria de dados focada em fornecer análises personalizadas para empresas.">
<!-- Meta Keywords -->
<meta name="keywords" content="sobre, Horizon Data Labs, consultoria de dados, análises personalizadas">
<!-- Meta Charset -->
<meta charset="UTF-8">
<!-- Meta Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Meta Robots -->
<meta name="robots" content="index, follow">
<!-- Meta Autor -->
<meta name="author" content="Horizon Data Labs">

<div class="about-content-container">
    <div class="text-options">
        <p class="bold titles">
            Nossa Missão
        </p>
        <p>
            A missão da Horizon é ajudar empresas a obter uma visão clara e detalhada de seus negócios, 
            utilizando soluções baseadas em dados para promover o crescimento e facilitar a tomada de decisões estratégicas.
        </p>

        <p class="bold titles">
            Sobre o Fundador
        </p>
        <p>
            Fundada por Ivan Lopes Alonso, formado em Sistemas de Informação com 
            pós-graduação em Engenharia e Análise de Dados. Com uma experiência no campo da análise de dados, 
            sou movido pela paixão de transformar dados em insights valiosos. 
            A motivação para trabalhar com análise de dados vem da capacidade de descobrir informações cruciais que 
            podem solucionar problemas inesperados e gerar melhorias significativas para as empresas.
        </p>

        <p class="bold titles">
            Nossos Valores
        </p>
        <ul>
            <li>
                <p class="bold">
                    Transparência: 
                </p>
                <p>Mantenho uma comunicação clara e aberta com todos os clientes, garantindo que todas as etapas 
                    do processo foram compreendidas.
                </p>
            </li>
            <li>
                <p class="bold">
                    Entrega de Soluções Relevantes:
                </p>
                <p>
                    Focado em fornecer soluções que realmente agreguem valor ao negócio de nossos clientes.
                </p>
            </li>
            <li>
                <p class="bold">
                    Compromisso: 
                </p>
                <p>
                    Sou comprometido com a excelência e a eficácia das entregas.
                </p>
            </li>
            <li>
                <p class="bold">
                    Comunicação:
                </p>
                <p>
                    Valorizo a comunicação contínua e colaborativa com todos os clientes.
                </p>
            </li>
            <li>
                <p class="bold">
                    Inovação:
                </p>
                <p>
                    Sempre em busca de novas tecnologias e abordagens para oferecer soluções de ponta.
                </p>
            </li>
            <li>
                <p class="bold">
                    Personalização:
                </p>
                <p>
                    Entendo que cada cliente é único e por isso as soluções às necessidades são adaptadas específicamente para 
                    cada cliente.
                </p>
            </li>
        </ul>

        <p class="bold titles">
            Nossa Abordagem
        </p>
        <p>
            Abordo cada projeto de maneira personalizada, começando por entender 
            profundamente as necessidades e objetivos do cliente. Utilizo metodologias ágeis para garantir 
            que as soluções sejam desenvolvidas de forma eficiente e iterativa.
        </p>
        
        <ul>
            <li>
                <p class="bold">
                    Diagnóstico Inicial:
                </p>
                <p>
                    Compreensão dos desafios e necessidades do cliente através de entrevistas e análise preliminar de dados.
                </p>
            </li>
            <li>
                <p class="bold">
                    Desenvolvimento de Soluções:
                </p>
                <p>
                    Criação de modelos analíticos e dashboards personalizados para atender às necessidades específicas.
                </p>
            </li>
            <li>
                <p class="bold">
                    Implementação:
                </p>
                <p>
                    Integração das soluções desenvolvidas nos sistemas do cliente, garantindo a operacionalização e usabilidade.
                </p>
            </li>
            <li>
                <p class="bold">
                    Acompanhamento e Suporte:
                </p>
                <p>
                    Monitoramento contínuo e suporte pós-implementação para assegurar que as soluções estejam funcionando 
                    conforme o esperado.
                </p>
            </li>
        </ul>

        <p class="bold titles">
            Olhando para o Futuro
        </p>
        <p>
            Estou sempre atualizado com as novas tecnologias e tendências do mercado. 
            O objetivo é incorporar suporte de inteligência artificial (IA) para algumas das soluções, 
            além de utilizar IA para automação de processos em conjunto com a AWS, proporcionando aos clientes 
            uma vantagem competitiva significativa.
        </p>
    </div>
</div>