<title>Planos e Preços</title>
<!-- Meta Description -->
<meta name="description" content="Explore os planos e preços da Horizon Data Labs e escolha a melhor opção para sua empresa.">
<!-- Meta Keywords -->
<meta name="keywords" content="preços, planos, Horizon Data Labs, consultoria de dados">
<!-- Meta Charset -->
<meta charset="UTF-8">
<!-- Meta Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Meta Robots -->
<meta name="robots" content="index, follow">
<!-- Meta Autor -->
<meta name="author" content="Horizon Data Labs">

<div class="pricing-content-container">
    <p class="titles">
        Trabalhamos com dois tipos de contrato:
    </p>

    <span class="bold subtitles-contrast padding">Mensal </span>
    <p>
        <span class="bold subtitles">Pequenos Projetos/Startups: </span>
        <span class="italic">Entre R$ 5.000 a R$ 10.000 por mês.</span>
    </p>
    <p>
        <span class="bold subtitles">Projetos Médios: </span>
        <span class="italic">Entre R$ 10.000 a R$ 25.000 por mês.</span>
    </p>
    <p>
        <span class="bold subtitles">Grandes Projetos: </span>
        <span class="italic">Acima de R$ 25.000.</span>
    </p>

    <span class="bold subtitles-contrast padding">Horas</span>
    <p>
        <span class="italic">Entre R$ 100 a R$ 250 por hora</span>
    </p> 
    
    <p class="bold italic subtitles-info">
        Os valores são variáveis dependendo do tipo e tamanho do projeto, 
        <span class="bold italic subtitles-info">
            se encaixando na margem sugerida acima.
        </span>
    </p>
    <p class="bold italic subtitles-info">
        Entre em contato para mais informações.
    </p>
</div>
