<title>Exemplos de Análises de Dados</title>
<!-- Meta Description -->
<meta name="description" content="Veja exemplos de análises de dados realizadas pela Horizon Data Labs, incluindo gráficos e dashboards interativos.">
<!-- Meta Keywords -->
<meta name="keywords" content="exemplos, análises de dados, gráficos, Tableau, dashboards">
<!-- Meta Charset -->
<meta charset="UTF-8">
<!-- Meta Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Meta Robots -->
<meta name="robots" content="index, follow">
<!-- Meta Autor -->
<meta name="author" content="Horizon Data Labs">

<div class="examples-content-container">
    <div class="graphics">
        <span class="mobile-only bold">Para uma melhor visualização dos gráficos, </span>
        <span class="mobile-only bold">favor acessar em dispositivos desktop.</span>
        <p class="titles">
            Análise de Venda e Performance
        </p>
        <div>
            <app-analise-venda></app-analise-venda>
        </div>
        <div>
            <app-produto-por-regiao></app-produto-por-regiao>
        </div>
        <div>
            <app-venda-por-produto></app-venda-por-produto>
        </div>
        <div>
            <app-analise-temporal></app-analise-temporal>
        </div>

        <p class="titles">
            Análise Financeira
        </p>
        <div>
            <app-despesas-por-categoria></app-despesas-por-categoria>
        </div>
        <div>
            <app-receita-despesa></app-receita-despesa>
        </div>

        <p class="titles">
            Análise de Desempenho Operacional
        </p>
        <div>
            <app-kpi></app-kpi>
        </div>
        <div>
            <app-eficiencia-producao></app-eficiencia-producao>
        </div>
        <div>
            <app-relacao-custo-tempo></app-relacao-custo-tempo>
        </div>
    </div>
</div>