/* _examples.scss */
.examples-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    line-height: 1.4rem;
    letter-spacing: 0.08rem;
    margin-top: 3.75rem;

    @media (max-width: 768px) {
        padding: 0 5%;
        line-height: 2.1rem !important;
    }

    @media (max-width: 480px) {
        padding: 0 3%;
        line-height: 2.1rem !important;
    }
}

.bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

.titles {
    font-size: 2rem;
    font-weight: 700;
}

.graphics {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;

    p {
        margin: 1.2rem 0 0;
    }
}

.mobile-only {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile-only {
        padding-top: 1rem;
        display: block;
        line-height: 0;
    }
}