<div class="tableauPlaceholder tableauPlaceholder-temporal" id="vizContainer">
    <noscript>
    <a href="#">
        <img [src]="staticImageUrl" alt="Tableau Visualization" width="auto" height="auto">
    </a>
    </noscript>
    <object class="tableauViz tableauViz-temporal">
        <param name="embed_code_version" value="3" /> 
        <param name="site_root" value="" />
        <param name="name" [value]="tableauUrl" />
        <param name="tabs" value="no" />
        <param name="toolbar" value="no" />
        <param name="animate_transition" value="yes" />
        <param name="display_static_image" value="yes" />
        <param name="display_spinner" value="yes" />
        <param name="display_overlay" value="yes" />
        <param name="display_count" value="yes" />
        <param name="language" value="pt-BR" />
    </object>
</div>
