img {
    border: none;
}

.tableauPlaceholder {
    position: relative;

    &-receita {
        width: 37rem !important;
        height: 11rem !important;

        @media (max-width: 768px) {
            width: 90% !important;
            height: 18rem !important;
        }

        @media (max-width: 480px) {
            width: 90% !important;
            height: 18rem !important;
        }
    }
}

.tableauViz-vendas {
    display: none;
    width: 42rem !important;
    height: 13rem;

    @media (max-width: 768px) {
        width: 90% !important;
        height: 23rem !important;
    }

    @media (max-width: 480px) {
        width: 90% !important;
        height: 23rem !important;
    }
}
