<nav class="navbar">
    <div class="menu-toggle">
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
    </div>
    <ul class="menu" id="menu">
        <li><a [routerLink]="['/']" >Home</a></li>
        <li><a [routerLink]="['/examples']" >Exemplos de Análises</a></li>
        <li><a [routerLink]="['/services']" >Serviços</a></li>
        <li><a [routerLink]="['/analysis']" >Hub de Análise</a></li>
        <li><a [routerLink]="['/about']" >Sobre</a></li>
        <li><a [routerLink]="['/pricing']" >Valores</a></li>
        <li><a [routerLink]="['/contact']" >Contato</a></li>
    </ul>
</nav>